<div class="project-case">

  <div id="case-info" class="columns">

    <span id="meta-info" class="s-no-pad m-no-pad col-l-1-3 col-xl-1-4">
      <div>{{ projects[currentCase]['year'] }}</div>
      <div>{{ projects[currentCase]['organization'] }}</div>
      <div>{{ projects[currentCase]['title'] }}</div>
    </span>

    <span class="s-no-pad m-no-pad col-l-2-3 col-xl-3-4">
      <div class="case-paragraph">
        A sampling of marketing and visual design collateral for Figma's preview.<br><br>
        <a href="http://figma.com" target="_blank">Figma</a> is a sampling of marketing and visual design colateral.
      </div>
    </span>

  </div>

  <div class="case-images columns">
    <!-- <video class="img-1-2" autoplay>
      <source src="assets/images/Figma/Videos/2. Simultaneous Editing.mp4" type="video/mp4">
    </video> -->
    <img src="dist/assets/compressed/figma/icon set.png" class="img-1" />
    <img src="dist/assets/compressed/figma/figma.invite.png" class="img-1-4" />
    <img src="dist/assets/compressed/figma/teams-fill.gif" class="img-1-4" />
    <img src="dist/assets/compressed/figma/teaser.gif" class="img-1-2" />
  </div>

  <a id="go-up" ng-click="goToTop()">Up</a>

</div>
