<nav id="m-nav" ng-controller="ListCtrl" class="columns">


    <a class="c-hand"
       ng-class="{'active': isActive('/about')}"
       ng-if="!currentCase"
       ui-sref="about">About</a>

    <a class="right-align"
         ng-class="{'active': isActive('/images')}"
         ng-if="!currentCase"
         ui-sref="images">Work</a>

    <a ng-if="currentCase"
         ng-class="{'nav-header': currentCase}">{{ projects[currentCase].header }}</a>

    <a class="right-align"
         ng-if="currentCase"
         ui-sref="images">Work</a>


</nav>
