#tiles {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  @include calc("width", "100% + 25px");

  margin-top: -12.5px;
  margin-left: -12.5px;
}

.tile-wrapper {
  border: 12.5px solid white;
  text-decoration: none;
}

.tile {
  padding: 12.5px 12.5px 0 12.5px;
}

audio, iframe, img, video {
  max-width: 100%;
}

@media (min-width: $hd-min) and (max-width: $hd-max) {
  .tile-wrapper { min-width: 25%; }
  video { max-height: 720px; }
}

@media (min-width: $desktop-min) and (max-width: $desktop-max) {
  .tile-wrapper { min-width: 33.3333%; }
}

@media (min-width: $tablet-min) and (max-width: $tablet-max) {
  .tile-wrapper { min-width: 50%; }
}

@media (min-width: $mobile-min) and (max-width: $mobile-max) {
  .tile-wrapper {
    min-width: 100%;
    // border-top: none;
  }

  .tile { line-height: 14px; }
}
