#tiles {
  display: flex;
  flex-wrap: wrap;

  @include calc("width", "100% + 25px");

  margin-top: -11.5px;
  margin-left: -12.5px;
}

.tile-wrapper {
  border: 12.5px solid white;
  position: relative;
  text-decoration: none;

  > img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    opacity: 0.25;
    transition: 0.3s opacity linear;

    &:hover { opacity: 1; }
  }
}

.tile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  border: 1px solid black;
  line-height: 24px;
  padding: 25px;
}

@media (min-width: $hd-min) and (max-width: $hd-max) {
  .tile-wrapper { min-width: 25%; }
}

@media (min-width: $desktop-min) and (max-width: $desktop-max) {
  .tile-wrapper { min-width: 33.3333%; }
}

@media (min-width: $tablet-min) and (max-width: $tablet-max) {
  .tile-wrapper { min-width: 50%; }
}

@media (min-width: $mobile-min) and (max-width: $mobile-max) {
  .tile-wrapper {
    min-width: 100%;
    // border-top: none;
  }

  .tile { line-height: 14px; }
}
