#home {
  display: flex;
  position: fixed;
  bottom: 50px !important;
  left: 100px !important;
  width: 100%;
}

.home-content {
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

@media (min-width: $hd-min) and (max-width: $hd-max) {
  #home {
    bottom: 50px !important;
    left: 100px !important;
  }
}

@media (min-width: $desktop-min) and (max-width: $desktop-max) {
  #home {
    bottom: 50px !important;
    left: 75px !important;
  }
}

@media (min-width: $tablet-min) and (max-width: $tablet-max) {
  #home {
    bottom: 25px !important;
    left: 50px !important;
  }
}

@media (min-width: $mobile-min) and (max-width: $mobile-max) {
  #home {
    bottom: 25px !important;
    left: 25px !important;

  .home-content { font-size: 14px !important; }

  }
}

@media (min-width: 0px) and (max-width: 375px) {
  #home {
    bottom: 25px !important;
    left: 25px !important;

  .home-content { font-size: 12px !important; }

  }
}