@import "scss/reset.scss";

$mobile-min: 0px;
$mobile-max: 320px;
$mobile-plus-min: 321px;
$mobile-plus-max: 425px;
$tablet-min: 426px;
$tablet-max: 768px;
$desktop-min: 769px;
$desktop-max: 1024px;
$hd-min: 1025px;

@font-face {
	font-family: Theinhardt-Reg;
	src: url(./assets/fonts/Theinhardt/TheinhardtReg.otf);
}

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;

  font-family: 'Theinhardt-Reg', Helvetica, sans-serif;

  opacity: 0;
  transition: opacity 0.25s ease;

  @media (min-width: $hd-min) {
    padding: 75px 150px;
    font-size: 48px;
    line-height: 64px;
  }

  @media (min-width: $desktop-min) and (max-width: $desktop-max) {
    padding: 75px 100px;
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $tablet-min) and (max-width: $tablet-max) {
    padding: 75px;
    font-size: 32px;
    line-height: 48px;
  }

  @media (min-width: $mobile-min) and (max-width: $mobile-plus-max) {
    padding: 50px 25px;
    font-size: 24px;
    line-height: 36px;
  }

  @media (min-width: $mobile-min) and (max-width: $mobile-max) {
    font-size: 16px;
    line-height: 32px;
  }
}

.loaded {
  opacity: 1;
}

.bio {
  margin: auto auto;
}
